<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>US Housing Analysis - Team Vue</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

    <!-- D3 JavaScript -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <!--Navbar adjustments-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- <a class="navbar-brand text-white" href="index.html" >US Housing Analysis</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Analysis Pages
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/">Landing Page</a>
                            <a class="dropdown-item" href="states">State-by-State Breakdown</a>
                            <a class="dropdown-item" href="national">National Map</a>
                            <a class="dropdown-item" href="redfin">New York Housing Trends</a>
                            <a class="dropdown-item" href="newyork">New York State Choropleth Map</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div class="jumbotron bg-cover" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url(https://placeimg.com/1000/480/nature)">
    <div class="container">
    <h1 class="display-4">US Housing Analysis</h1>
    <p class="lead">Penn Data Analysis Bootcamp Project 2 - Team Vue</p>
    <hr class="my-4">
        <p>Aashita Rakesh, Ashley Ross, Danni Pintacasi, Kyle DeLong</p> 
    </div>
</div>
<div class="container">    
    <div class="row">
     <div class="col-md-12">
    <h3>Project Scope </h3>
    <br>   
    <p>The purpose of this project was to analyze the US Housing Market. To accomplish this analysis, we first pulled data from US Census Bureau's API, as well as the Federal Reserve Bank, and Redfin.  </p> 
                    
    <p>After assembling the data in Mongo DB, we used Plotly, D3, and Leaflet to plot various aspects of the current and historical trends affecting the cost of housing in the United States. Factors we looked at included: home ownership vs renting, age, and state of residence.</p>
    </div> 
</div>
</div>

<div class="container">
    <div class="col-md-12">
        <br>
    <h3>Federal Reserve Bank Pricing Trend</h3>
      <div id="fred_prices_trend">
      </div>
    </div>
  </div>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <!-- Leaflet-Choropleth JavaScript -->
    <script type="text/javascript" src="static/js/choropleth.js"></script>

    <!--Plotly-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <!-- Our JavaScript-->
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>

    <!-- fred price script-->
    <script src="{{ url_for('static', filename='js/fred_price.js') }}"></script>
</body>
</html>